@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --bg-color: #F4F2EE;
}
.banner-image{
  background-image: url(../src/assets/profilebg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.app-root{
  background-color: var(--bg-color);
}
.boxes-wrapper > :not(:first-child), .box-wrap{
  outline: 1px solid rgba(128, 128, 128, 0.14);
  background-color: white;
  border-radius: 5px;
}
.MuiButtonBase-root{
  text-transform: capitalize !important;
}
.lets-connect{
  background-image: url('../src/assets/loyalty.gif');
  background-size: contain;
  background-position-x: 10rem;
  background-position-y: 5rem;
  background-repeat: no-repeat;
}